html, body {
	height : 100%;
	width: 100%;
	margin:0;
	overflow: hidden;
	font-family:"Helvetica", "Segoe UI";
}

/* INITIAL CONTAINER */
.initial-container {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	z-index:999;
}

.hide {
	display:none;
}

.btn {
	padding:16px 20px;
	background:#8328FF;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	outline:0;
	cursor:pointer;
	border:none;
	font-size:18px;
	transition:all .5s;
}

.btn:hover {
	opacity: .8;
}

.btn:active {
	transform:scale(.9);
}

/* PAGE CONTAINER */
button#clear {
	position:absolute;
	top:15px;
	right:15px;
}
